img.landing-img-abt {
    max-width: 600px;
    width: 100%;
    display: block;
    margin: auto;
}

.deco-lines {
    display: none;
}

.section-title {
    color: var(--yellow);
}

@media (min-width: 700px) {
.deco-lines {
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    background-image: url(https://raw.githubusercontent.com/justtyx/BYUstudio.v2/c780c79a42147516ac6bc5d48513f02a17364e32/assets/yellow-3-lines.svg);
}}