.nav-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: var(--margin);
}

main {
  margin-top: -5rem;
}

.bg-brush-waves {
    /* position: absolute;
    top: 0; 
    z-index: -1;*/
    width: 100vw;
    height: 25vh;
    margin-left: var(--theNumber);
    margin-right: var(--theNumber);

    background-image: url(https://raw.githubusercontent.com/justtyx/BYUstudio.v2/1beb5074613d7edfef405a801ce3a3b7bd1702a2/assets/bursh-waves.svg);
    background-size: cover;
  }

.page-title {
  font-family: "autography";
}

.intro-text {
  max-width: 600px;
  display: block;
  margin: 1rem auto 2rem;
}

.content-section {
  margin: 1rem 0 3rem;
}

.section-title {
  margin: 1.5rem 0 0.8rem;
}

.process>div>li {
  list-style: inside;
  list-style-type: none;
  line-height: 200%;
  font-size: var(--h3);
}

.process>p {
  margin: -1rem 0 2rem;
  font-size: var(--p);
}

.list-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.list-box>img {
  width: 4vw;
  min-width: 40px;
  height: auto;
  margin-right: 1rem;
}
  
.beige {
  color: var(--beige);
}

.yellow {
  color: var(--yellow);
}

.dark-green {
  color: var(--dark-green);
}

.dark-green {
  color: var(--dark-green);
}
   
.deco-lines {
  display: none;
}


  @media (min-width: 700px) {

    .bg-brush-waves {
      height: 30vh;
     }

    .content-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .section-title {
      grid-column: 1/2;
      margin: 0;
    }

    .intro-text {
      margin: 1rem auto 4rem;
      }

    .body-box {
      grid-column: 2/3;
      justify-self: start;
    }

    .body-box>p {
      margin: 0.7rem 0 2rem;
    }

    .waves-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-right: var(--theNumber);
    }
    
    .deco-lines {
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      background-image: url(https://raw.githubusercontent.com/justtyx/BYUstudio.v2/c780c79a42147516ac6bc5d48513f02a17364e32/assets/yellow-3-lines.svg);
      grid-column: 2/3;
    }
   }