.bg-brush-waves {
    position: absolute;
    top: 0;
    margin-left: var(--theNumber);
    margin-right: var(--theNumber);
    z-index: -1;
    background-image: url(https://raw.githubusercontent.com/justtyx/BYUstudio.v2/1beb5074613d7edfef405a801ce3a3b7bd1702a2/assets/bursh-waves.svg);
    width: 100vw;
    height: 20vh;
    background-size: cover;
  }

  .page-title {
    font-family: "autography";
  }