/*delete later when a global margin is set*/
/* main {
  margin: 0 2rem 0 2rem;
} */

/* section {
  border-bottom: 2rem;
} */

.contactpad {
  padding-top: 0.5rem;
}

.centertext {
  text-align: center;
  font-size: small;
  margin-top: 2rem;
}

button {
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.space {
  padding-bottom: 0.8rem;
}

.buttonflex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}

.buttonflex a {
  font-size: small;
  text-align: center;
  color: black;
}

.smallinfo {
  font-size: xx-small;
  color: grey;
  margin-bottom: -1rem;
}

.ordersummarydesktop {
  display: none;
}

/* ---------- Product preview ---------- */
.divider {
  width: 100%;
  height: 1px;
  background-color: black;
  /* border: red solid 1px; */
}

.cartproductimage {
  height: 6rem;
  width: 6rem;
  /* border: red solid 1px; */
  background-color: white;
  border-radius: 10px;
  display: block;
  justify-self: flex-start;
  align-self: flex-start;
}

.cartitem {
  display: flex;
  column-gap: 1rem;
  margin: 1rem 0;
}

.cartproducttext p {
  margin: 0;
}

.cartproducttext {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 5rem;
  margin: 0.5 0;
  max-width: 60%;
}

.cartproductdescription {
  font-size: small;
}

.crossproduct {
  height: 0.5rem;
  align-self: flex-start;
  margin-left: auto;
}

.priceflex {
  display: flex;
  justify-content: space-between;
}
.subtotal {
  margin-top: 1rem;
}

.subtotal p {
  margin: 0;
  font-size: small;
}
.shippingprice p {
  margin: 0.1 0 0 0;
  font-size: small;
}
.pay {
  margin-top: -1rem;
}
/* ---------- Bread Crumbs ---------- */
.breadcrumbs {
  font-size: small;
}
.currentcrumb {
  font-weight: 600;
}

/* ---------- Form Styling ----------- */
input {
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Montserrat";
  height: 1.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.two-box-flex {
  display: flex;
  gap: 1.5rem;
}

.sec-deliveryoption,
.sec-billingaddress {
  display: grid;
  grid-template-columns: 1rem auto;
  column-gap: 1rem;
  margin-left: 0;
}

.sec-deliveryoption > label,
.sec-billingaddress > label {
  grid-column-start: 2;
}

.sec-deliveryoption > input,
.sec-billingaddress > input {
  grid-column-start: 1;
  height: 1rem;
}
.sec-deliveryoption > h4,
.sec-billingaddress > h4 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 1rem;
}

/* -------- Payment Form ----------- */
.sec-payment {
  margin-top: 3rem;
}

.paymentoptionwrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2rem;
  /* width: calc(100% - 2rem); */
  padding: 1rem;
  border-radius: 15px 15px 0 0;
}
.paymentoptionwrap > label {
  width: 100%;
}
.paymentoptionwrap > input {
  width: 1.5rem;
}

.paymentoptionselected {
  background-color: #ffd800;
}

.creditcardform {
  padding: 1rem;
  border: #ffd800 solid 1px;
  border-radius: 0 0 15px 15px;
}

.sec-infosummary > h3 {
  margin-bottom: 0.5rem;
}

.sum-email,
.sum-address,
.sum-shipping {
  font-size: small;
  margin-top: 1.2em;
}

.line {
  height: 1px;
  width: 100%;
  background-color: grey;
  margin-top: -0.3rem;
  margin-bottom: 0.3rem;
}

/* ------------ Mobile Summary ----------- */
.hidden {
  display: none;
}

.ordersummarymobile {
  background: #96d3c1;
  margin: 0 -6.944vw 2rem -6.944vw;
}

.mobilesummarycontent {
  padding: 1rem 2rem;
}

.summaryflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infosummaryflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -1.5rem;
  margin-top: -0.5rem;
}

.summaryflex > img {
  height: 1rem;
  cursor: pointer;
}

.rotatearrow {
  transform: rotate(-180deg);
}

/* -------------- RECIEPT -------------- */
.sec-reciept > h2 {
  transform: translateX(-0.5rem);
  font-family: "Autography";
  font-size: 3rem;
  margin-bottom: -0.5rem;
}

.sec-reciept {
  background-color: #96d3c1;
  padding-right: -6.944vw;
  margin-right: -6.944vw;
}

.signature {
  font-family: "Autography";
  font-size: 3rem;
  margin-top: -0.5rem;
  text-align: center;
}

.someiconflex {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.somelogo {
  margin: 1rem 0;
}

.reciept-text-wrap {
  /* margin: 0 1rem; */
  padding-bottom: 4rem;
  width: min(100% - 2rem, 25rem);
  margin-left: auto;
  margin-right: auto;
}

/* -------------- FOOTER -------------- */
footer {
  background-image: url(../assets/bgg\ 1.jpg);
  margin: 2rem -6.944vw -0.9rem -6.944vw;
}

footer p {
  font-size: small;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  form,
  .paymentformdesk {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .ordersummarymobile {
    display: none;
  }

  /*Change the right-margin to mirror the final page margin*/
  .ordersummarydesktop {
    display: inline-block;
    background: #96d3c1;
    grid-column-start: 8;
    grid-column-end: end;
    margin: 1rem -6.944vw 0 0;
  }

  .ordersummarydesktopcontent {
    margin: 0 6.944vw 0 2rem;
  }

  .ordersummarydesktopcontent > h2 {
    transform: translate(-4rem, -2rem);
    font-family: "Autography";
    font-size: 2.5rem;
    margin-bottom: -2rem;
  }

  .breadcrumbs {
    grid-column-start: 1;
    grid-column-end: end;
  }

  .sec-reciept {
    grid-column-start: 8;
    grid-column-end: end;
  }
  .sec-thankyou {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .button-reciept {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}
