input {
  border: none;
  border-bottom: 1px solid var(--grey);
  font-family: "Montserrat";
  padding: 0.2rem 0;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
}

label {
  font-size: 13px;
}

#message {
  border: 2px solid var(--light-grey) !important;
  font-family: "Montserrat";
  margin: 0.2rem 0 1rem;
  width: 100%;
  padding: 5px;
  height: 10rem;
  outline: none;
  resize: none;
}

.section-title.dark-green {
  margin-bottom: 1rem;
}

button.send-message {
  background-color: var(--dark-green);
}

@media (min-width: 700px) { 
  .two-box-flex {
    display: flex;
    gap: 1.5rem;
  }
}