#thickLines {
    position: absolute;
    top: 0;
    margin-left: var(--theNumber);
    margin-right: var(--theNumber);
    z-index: -1;
    background-image: url(https://raw.githubusercontent.com/justtyx/BYUstudio.v2/5384d124dfc21ad3bf071280d58b1bb19f3b8852/assets/bursh-waves.svg);
    width: 100vw;
    height: 50vw;
    background-size: cover;
  }

  
#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title > img {
  border-radius: 0.4vw;
}

  #decorative {
    font-family: "autography";
    text-align: center;
  }