#thickLines {
    position: absolute;
    top: 0;
    margin-left: var(--theNumber);
    margin-right: var(--theNumber);
    z-index: -1;
    background-image: url(https://raw.githubusercontent.com/justtyx/BYUstudio.v2/8305ddb8940b606e5baa37d4e0d78ec4abbd188a/css/thick-lines-bg.svg);
    width: 100vw;
    height: 50vw;
    background-size: cover;
  }