p {
  font-size: var(--body-copy);
  line-height: var(--line-height);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0vw var(--theNumber);
  background-image: url(bg_pattern.jpg);
  background-size: cover;
}

footer > img {
  margin-top: 3vw;
}
#description {
  width: 30vw;
  text-align: center;
}

#some {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin: 1vw 0vw 2vw;
}

h5 {
  font-size: var(--button-copy);
  font-weight: 500;
}
ul {
  list-style: none;
  padding-left: 0;
}

#footerNav {
  display: flex;
  gap: 4vw;
  margin-bottom: 1vw;
}
a {
  text-decoration: none;
  color: black;
}

#legal {
  margin: 2vw 0vw;
}

#footerNav > ul > li:not(:last-child) {
  margin-bottom: 1vw;
}

#footerNav > ul > li {
  font-size: var(--button-copy);
}

#legal > a {
  font-size: var(--button-copy);
}

@media only screen and (max-width: 770px) {
  footer {
    padding: 5vw 0vw;
  }
  #description {
    width: unset;
  }
  h5 {
    font-size: var(--body-copy-m);
  }
  #legal > a {
    font-size: var(--button-copy-m);
  }

  #legal {
    text-align: center;
  }

  footer > #some > img {
    padding: 1vw;
  }

  p,
  li,
  a {
    font-size: var(--body-copy-m);
    line-height: 2rem;
  }
}
