p {
  font-size: var(--body-copy);
  line-height: var(--line-height);
}

h2 {
  margin-bottom: 0;
}

body {
  width: 86vw !important;
  overflow-x: hidden !important;
}
/*HERO*/
#hero {
  position: relative;
  display: flex;
  margin-top: 5vw;
}

#heroMob {
  display: none;
}

#bgMob {
  display: none;
}

#jewellery {
  position: relative;
}

#yellowText {
  position: absolute;
  top: -6vw;
  left: 20vw;
  width: 40%;
}

h1 {
  font-size: var(--h1-d);
  position: absolute;
  width: 50vw;
  z-index: 1;
}

.heroImg {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 60vw;
}

#background {
  position: absolute;
  right: 0;
  z-index: -3;
  margin-right: var(--theNumber);
  width: 55%;
  top: -5vw;
  background-image: url(/assets/yellow-3-lines.svg);
  height: 67vw;
  width: 60vw;
}
/*Video*/

#video {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4vw;
  margin-top: 50vw;
  border-radius: 0.486vw;
}

#video > article {
  display: flex;
  flex-direction: column;
  justify-self: baseline;
  align-self: flex-end;
}

h3 {
  font-size: var(--h3-d);
  margin-bottom: 1vw;
}

article > p {
  width: 26.111vw;
  line-height: 1.8em;
}

iframe {
  width: 56.528vw;
  height: 31.797vw;
}

/* Steps */

#steps {
  height: 40.694vw;
  background-image: url("thick-lines-bg.svg");
  background-size: cover;
  width: 100vw;
  margin: 10vw -6.944vw 0vw -6.944vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#steps > h2 {
  padding-left: 6.944vw;
  margin-bottom: 5vw;
  margin-top: -2vw;
}

.oneStep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oneStep > img {
  width: 20%;
}

.oneStep > p {
  text-align: center;
}

#stepsWrapper {
  display: flex;
  padding: 0vw 13vw;
  gap: 5vw;
}

h4 {
  font-size: 1.92vw;
  line-height: 0;
}

/* Kits */

#kits {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  margin-right: var(--theNumber);
  margin-top: 10vw;
}

.textBg {
  background-color: thistle;
  padding: 5vw;
}

#kitsText {
  position: absolute;
  left: 0;
  width: 34vw;
  background-color: #f0f0f0;
  padding: 0vw 5vw 3vw;
  top: 3vw;
  color: black;
  border-radius: 0.5vw;
}

#kbiggerImg {
  position: absolute;
  left: 17vw;
  z-index: -1;
  width: 50vw;
}

#ksmallerImg {
  position: absolute;
  left: 67.5vw;
  width: 27.5vw;
  z-index: -1;
  top: 13.6vw;
}

/* sustain  */

#sustain {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  margin-left: var(--theNumber);
  margin-top: 42vw;
}

#sustainText {
  position: absolute;
  right: 0;
  width: 38vw;
  background-color: #f0f0f0;
  padding: 0vw 5vw 3vw;
  top: 3vw;
  color: black;
  border-radius: 0.5vw;
}

#sbiggerImg {
  position: absolute;
  right: 17vw;
  z-index: -1;
  width: 50vw;
}

#ssmallerImg {
  position: absolute;
  right: 67.5vw;
  width: 27.5vw;
  z-index: -1;
  top: 14.1vw;
}

/* pinterest  */

#pinterest {
  background-color: #ffdcd0;
  width: 100vw;
  height: 100vh;
  margin: 44vw var(--theNumber) 0vw;
  display: flex;
  position: relative;
}

#pinterest > div {
  padding: 5vw 6.944vw 0vw;
  position: relative;
  z-index: 10;
}

#pinterest > div > p {
  width: 25vw;
}

#pinterest > img {
  position: absolute;
  top: 2.5vw;
  right: 10vw;
  z-index: 0;
  width: 47vw;
}

/* trustpilot */

#trustpilot {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  margin: 3vw 0vw;
}

#trustpilot > div {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#trustpilot > div > img {
  width: 100%;
}
/* footer */

@media only screen and (max-width: 530px) {
  /* HERO */
  #hero {
    position: unset;
    display: flex;
    flex-direction: column;
    margin-right: var(--theNumber);
  }
  #background {
    display: none;
  }
  #bgMob {
    display: unset;
    position: absolute;
    top: 0;
    width: 75%;
    right: 0vw;
    z-index: -3;
  }

  #heroDesk {
    display: none;
  }

  #heroMob {
    display: unset;
  }

  .heroImg {
    position: unset;
    width: 86vw;
  }

  h1 {
    font-size: var(--h1-d);
    position: unset;
  }

  #yellowText {
    position: unset;
  }

  /* Video */
  #video {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 5vw;
  }

  #video > article {
    align-self: unset;
  }
  #videoPar {
    width: 86vw !important;
  }
  video {
    width: 86vw;
  }

  /* steps */
  #steps {
    height: auto;
    padding: 8vw 0vw;
  }

  #stepsWrapper {
    display: flex;
    flex-direction: column;
    padding: 0vw 13vw;
    gap: 5vw;
  }

  #steps >  h2 {
    margin-top: 2vw;
  }

  /* Kits */
  #kits {
    overflow-x: hidden;
    margin-right: var(--theNumber);
  }

  #ksmallerImg {
    display: none;
  }

  #kitsText {
    position: relative;
    width: 60vw;
  }

  #kbiggerImg {
    left: unset;
    right: 0;
    z-index: -1;
    width: 50vw;
    top: 10vw;
    transform: scale(1.5);
  }

  /* sustain  */
  #ssmallerImg {
    display: none;
  }

  #sustainText {
    position: absolute;
    right: 7vw;
    width: 61vw;
  }

  #sbiggerImg {
    left: 0;
    z-index: -1;
    width: 50vw;
    transform: scale(1.5);
  }

  #sustain {
    position: unset;
    margin-left: 7vw;
  }

  /*pinterest*/
  #pinterest {
    margin-top: 120vw;
    flex-direction: column;
  }
  #pinterest > img {
    position: unset;
    width: unset;
    padding: 0vw 7vw;
  }

  #pinterest > div > p {
    width: unset;
  }
  /*trustpilot*/

  #trustpilot {
    display: flex;
    flex-direction: column-reverse;
  }

  /*general*/
  h1 {
    font-size: var(--h1-m);
    width: 86vw;
  }

  h2 {
    font-size: var(--h2-m);
  }

  h3 {
    font-size: var(--h3-m);
  }

  h4 {
    font-size: var(--h4-m);
  }

  p,
  li,
  a {
    font-size: var(--body-copy-m);
    line-height: 2rem;
  }

  button {
    font-size: var(--button-copy-m);
    padding: 2.5vw 5vw;
    border-radius: 5px;
  }
}

.hidden {
  display: none;
}
