nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;
}

nav > a > img{
  height: 10vh;
  min-height: 50px;
}

nav img {
  height: 4vh;
  min-height: 25px;
}