@media (max-width: 700px) {
    /*Adding a photo under the nav bar*/
    nav {
        position: absolute;
        top: 0;
        left: 0;
    }
    }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selection-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#wax, #gemstones {
    padding: 0.8rem 0.3rem;
    font-size: var(--button-copy);
    border: none;
    background-color: white;
    color: var(--beige);
    font-weight: 400;
    border-radius: 7px;
    border: 2px solid var(--beige);
    cursor: pointer;
}

#wax:focus, #gemstones:focus, #wax:hover, #gemstones:hover, #wax:active, #gemstones:active {
    transition: 350ms;
    outline: none;
    background: var(--beige);
    border: 2px solid var(--beige);
    color: white;
}

#wax>option, #gemstones>option {
    background: white;
    color: var(--beige);
}

.selection-flex {
    position: relative;
}

.arrow {
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -1.6rem;
    display: flex;
    align-items:baseline;

    width: 1.2rem;
    height: auto;
}

.selection-flex>p {
    color: var(--grey);
    font-size: 0.8rem;
}

.breadcrumbs.flex-container {
    justify-content: flex-start;
}

.product-image {
    margin-top: 1.5rem;
    border-radius: 7px;
}

.total-add-container {
    background-color: var(--beige);
    padding: 1rem 0;
}

.align-button {
    display: flex;
    justify-content: center;
}

.add-to-cart {
    background-color: var(--yellow);
}