nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  /* autography? */
  /* font-size: var(--h2-m); */
  /* text-align: center; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-and-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/* .filter ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
} */

/* .filter li {
  margin: 0 1rem;
} */

.productlist {
  display: flex;
  flex-direction: column;
}

.product a {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.price-and-arrow {
  display: flex;
  align-items: center;
}

.arrow {
  max-width: 100%;
  height: 2rem;
}

.product-title,
.price {
  margin: 0;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 700px) {
  main {
    display: block;
  }

  .productlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1rem;
  }

  .product {
    margin-bottom: 0;
  }
  /* .productlist {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .product {
    margin: 0 2rem 0 0;
  }

  .product:last-of-type {
    margin: 0;
  } */
}
