@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Autography";
  src: url("assets/Autography.otf"), format("otf");
}
:root {
  --button-color: #3caccb;
  --baby-blue: #95bcd8;
  --yellow: #ffd800;

  --h1-d: 4.6vw;
  --h3-d: 3.318vw;
  --spacing: 0.15em;
  --normal-text: 1.25vw;
  --buton-text: 1.719vw;
  --category-heading: 3.229vw;

  --margin: 0vw 6.944vw 0vw 6.944vw;

  --shadow: rgba(0, 0, 0, 0.1) 2px 4px 11px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  --button-height: 4.844vw;
}

body {
  margin: var(--margin);
  font-family: "montserrat";
}

img {
  max-width: 100%;
}
