@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Autography";
  src: url("assets/Autography.otf"), format("otf");
}

:root {
  --yellow: #ffd800;
  --beige: #e1a089;
  --light-grey: #cccccc;
  --grey: #808080;
  --minty: #96d3c1;
  --dark-green: #44a86a;
  --light-beige: #ffdcd0;
  /*desktop*/
  --line-height: 140%;

  --margin: 0vw 6.944vw 0vw;
  --theNumber: -6.944vw;

  /*mobile*/
  --h1: clamp(24px, 10vw, 46px);
  --h2: clamp(18px, 6vw, 36px);
  --h3: clamp(17px, 4vw, 26px);
  --h4: clamp(17px, 3vw, 26px);
  --p: clamp(14px, 2vw, 17px);
  --button: clamp(14px, 3vw, 16px);

  --shadow: rgba(0, 0, 0, 0.1) 2px 4px 11px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--p);
  font-family: "Montserrat";
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: var(--margin);
  font-family: "montserrat";
}

img {
  width: auto;
  height: auto;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}


a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0.8rem 2rem;
  font-size: var(--button);
  border: none;
  background-color: var(--beige);
  color: black;
  font-weight: 400;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 700;
}

.hidden {
  display: none;
}
