body {
  overflow: hidden;
}

.sec-hamburger {
  margin: 0;
  height: 100vh;
  width: min(100vw, 350px);
  background-color: #e1a089;
  position: absolute;
  top: 0;
  left: max(-100vw, -350px);
  box-shadow: 4px 0px 20px -1px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.hidden {
  display: none;
}

/*---------------HAM-HEADER-----------------*/

.head-hamburger {
  height: 4rem;
  width: min(100vw, 350px);
  /* background-image: url(../assets/fat-yellow-lines.svg);
  background-size: cover; */
  display: flex;
  align-items: center;
  position: absolute;
}

.close-icon {
  height: 2rem;
  margin: 1rem;
}

/*---------------HAM-BODY-----------------*/

.body-hamburger {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: min(100vw, 350px);
  color: white;
}

.body-hamburger a {
  color: white;
  text-decoration: none;
}

.body-hamburger h1 {
  font-size: 1.6rem;
}

.body-hamburger h2 {
  font-size: 1.3rem;
}

.body-hamburger-text {
  display: block;
  /* width: max(100vw - 6rem, 16ch); */
}

.pages {
  margin-left: 1rem;
}

/*---------------HAM-FOOTER-----------------*/

.footer-hamburger {
  height: 4rem;
  width: min(100vw, 350px);
  display: flex;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
}

.someiconflex {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.somelogo {
  /* margin: 1rem 0; */
  height: 1.8rem;
}

/*---------------MOVEMENT-----------------*/
.close {
  transform: translateX(min(-100vw, -350px));
  transition: 1s;
}

.open {
  transform: translateX(min(100vw, 350px));
}

/*---------------desktop pages-----------------*/
.big-pages {
  height: 100vh;
  width: min(calc(100vw - min(100vw, 350px)), 350px);
  background-color: white;
  position: absolute;
  left: min(100vw, 350px);
  top: 0;
  box-shadow: 4px 0px 20px -1px rgba(0, 0, 0, 0.25);
}

.big-pages-body-flex {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  height: 100vh;
}

.big-pages-body {
}

.big-pages h2 {
  color: black;
  font-size: 1rem;
}

.ham-cat-image {
  border-radius: 5px;
  width: 12rem;
}

.ham-cat-arrow {
  height: 2rem;
}

.big-pages a {
  display: flex;
  flex-direction: column;
  margin: -1rem 3rem;
  width: 14rem;
}

.big-link-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1rem;
  transform: translateY(-1.5rem);
}

.big-pages-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-image: url(../assets/fat-yellow-lines.svg);
  background-size: cover; */
}

.big-pages-header-logo {
  height: 3rem;
  margin: 1rem;
}

.big-pages-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  color: black;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
}
