body {
  overflow: hidden;
}

.sec-hamburger {
  margin: 0;
  height: 100vh;
  width: min(100vw, 350px);
  background-color: white;
  position: absolute;
  top: 0;
  box-shadow: 4px 0px 20px -1px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.hidden {
  display: none;
}

/*---------------HAM-HEADER-----------------*/

.head-hamburger {
  height: 4rem;
  width: min(100vw, 350px);
  background-image: url(../assets/fat-yellow-lines.svg);
  background-size: cover;
  display: flex;
  align-items: center;
  position: absolute;
}

.close-icon {
  height: 2rem;
  margin: 1rem;
}

/*---------------HAM-BODY-----------------*/

.body-hamburger {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: min(100vw, 350px);
  color: #e1a089;
}

.body-hamburger a {
  color: #e1a089;
  text-decoration: none;
}

.body-hamburger h1 {
  font-size: 1.6rem;
}

.body-hamburger h2 {
  font-size: 1.3rem;
}

.body-hamburger-text {
  display: block;
  /* width: max(100vw - 6rem, 16ch); */
}

.pages {
  margin-left: 1rem;
}

/*---------------HAM-FOOTER-----------------*/

.footer-hamburger {
  height: 4rem;
  width: min(100vw, 350px);
  display: flex;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
}

.someiconflex {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.somelogo {
  /* margin: 1rem 0; */
  height: 1.8rem;
}

/*---------------MOVEMENT-----------------*/
.close {
  transform: translateX(min(-100vw, -350px));
  transition: 1s;
}
