#thickLines {
  position: absolute;
  top: 0;
  margin-left: var(--theNumber);
  margin-right: var(--theNumber);
  z-index: -1;
  background-image: url(thick-lines-bg.svg);
  width: 100vw;
  height: 50vw;
  background-size: cover;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#decorative {
  font-family: "autography";
  font-size: 10vw;
}

#steps {
  display: none;
}

h2 {
  font-size: var(--h4-m);
  color: var(--grey);
}

p {
  font-size: var(--body-copy-m);
}

h4 {
  font-size: calc(0.8 * var(--h4-m));
  font-weight: 600;
  margin-bottom: 3vw;
}
/*Tutorial section*/
article {
  padding: 10vw 0vw;
}
.tutHeading {
  display: flex;
  align-items: center;
}

.tutHeading > img {
  width: 15%;
  margin-right: 4vw;
}
.tutHeading > h4 {
  margin: 0;
  color: var(--beige);
}
@media only screen and (min-width: 770px) {
  #decorative {
    font-size: 4vw;
  }

  p {
    font-size: var(--body-copy);
    max-width: 54vw;
  }

  h2 {
    font-size: var(--h3-d);
    margin: 0;
  }

  h4 {
    font-size: calc(0.6 * var(--h3-d));
  }

  #steps {
    display: unset;
  }

  #title {
    margin-top: 9vw;
  }
  /*steps*/
  #steps {
    display: flex;
    align-items: center;
  }

  .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .step > img {
    width: 4vw;
  }

  .step > h5 {
    font-weight: 500;
    font-size: 1.2vw;
    margin-top: 1vw;
  }

  #steps > img {
    padding: 0vw 2vw;
  }

  /*tutorial*/

  #tutorials {
    margin-top: 3vw;
  }

  .tutHeading > img {
    width: unset;
    margin-right: 1.5vw;
  }

  .leftAli {
    display: grid;
    grid-template-columns: 3fr auto;
    gap: 5vw;
  }

  .rightAli {
    display: grid;
    grid-template-columns: auto 3fr;
    gap: 5vw;
  }

  .rightAli > .tutContent {
    order: 1;
  }

  article {
    padding: 5vw 0vw;
  }

  #thickLines {
    height: 20vw;
  }
}
